<h3>Book a Flight</h3>

<%= form_with scope: :flight, url: flights_url, method: :get do |form| %>
  <%= form.label :departure_airport_id, "From:" %>
  <%= form.select(:departure_airport_id, @departure_flight_options) %>
  
  <%= form.label :arrival_airport_id, "To:" %>
  <%= form.select(:arrival_airport_id, @arrival_flight_options) %>

  <%= form.label :date, "Travel Date" %>
  <%= form.select(:date, @date_options) %>

  <%= form.label :num_tickets, "Select Passengers" %>
  <%= form.select(:num_tickets, @passenger_options) %>

  <%= form.submit "Search" %>
<% end %>

<% if @available_flights.present? %>
<h3>Available Flights</h3>
<form accept-charset="UTF-8" action=<%= new_booking_path %> method="get">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  <input id="booking_tickets" name="booking[tickets]" type="hidden" value="<%= @passengers %>">
  <% @available_flights.each do |flight| %>
    <div>
      <input type='radio' id='booking_flight_id' name='booking[flight_id]' value="<%= flight.id %>">
      <label for='flight'>
      <%= flight.departure_airport.code %> -->
      <%= flight.arrival_airport.code %>,
      <%= flight.start_datetime.ctime %>,
      Flight Duration: <%= flight.flight_duration %> hours
      </label>
    </div>
  <% end %>
  <br>
  <input type="submit" value="Submit">
</form>
<% end %>