<%# render a form for a new booking which displays the currently chosen date, airports, flight ID and a set of fields to enter personal information 
for each passenger. You’ll want to create a new blank Passenger object in your controller for each passenger, and then use #fields_for in the 
view to set up the sub-forms %>

<h3>New Booking</h3>
<ul>
    <li><%= @flight.start_datetime.strftime("%a, %b %d, %Y") %>
        <b><%= @flight.start_datetime.strftime("%H:%M")%></b>
    </li>
    <li>Duration: <%= @flight.flight_duration %> hours</li>
    <li><%= @flight.departure_airport.code %> to <%= @flight.arrival_airport.code %></li>
    <li>Flight ID: <%= @flight.id%></li>
  </ul>
<h3>Passenger Info</h3>
<%= form_with model: @booking do |form| %>
  <%= form.fields_for :passengers, @booking.passengers do |passengers_form| %>
    <h4>Passenger <%= passengers_form.options[:child_index] + 1%></h4>
    <li>
      <%= passengers_form.label :name %>
      <%= passengers_form.text_field :name%>
      <%= passengers_form.label :email %>
      <%= passengers_form.text_field :email%>
    </li>
  <% end %>
  <%= form.submit %>
<% end %>